* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
font-family: Arial, Helvetica, sans-serif;
line-height: 1.5;
color: #003049;
background: #e6e6e6;
padding: 20px;
}

h1, h2, header{
  text-align: center;
}

 header {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #003049;
    font-weight: bold;
}

.weather-grid-box {
  background-color: #e6e6e6; 
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 16px;
  justify-items: center;
  color: #e6e6e6;
}

.weather-box-figure {
  background-color: #2E2EAE; 
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  grid-column: 1 / span 2;
  grid-row: 2;
  justify-self: center;
  
}
.search-container {
  text-align: center;
  margin-bottom: 20px;
}
.search-container input {
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.search-container button {
  padding: 10px 20px;
  border: none;
  background-color: #003049;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.search-container button:hover {
  background-color: #2E2EAE;
}

footer {
margin-top: 18px;
text-align: center;
color: #666;
}
